<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1> 
<h1 id:"subtitel"><%= @user.email %></h1>
<% if current_user == @user %>


<%= link_to "Settings", edit_user_path(current_user), id:"editbutton"%>
<% if current_user.admin? %>
<h1> Admin settings </h1>
<%= link_to "Add user", new_user_path, id:"editbutton"%>
<%= link_to "Add presentator", new_presentator_path, id:"editbutton"%>
<%= link_to "Add redacteur", new_redacteur_path, id:"editbutton"%>
<%= link_to "Add regisseur", new_regisseur_path, id:"editbutton"%>

<% end %>
<% end %>