<% provide(:title, 'All users') %>
<h1>All @people</h1>

<%= will_paginate %>

<table class="users">
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user %> </td>
      <td><%= user.email %>
      <td>
      	<% if current_user.admin? && !current_user?(user) %>
    | 		<%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  		<% end %>
  	  </td>
    </tr>
  <% end %>
</table>
  <%= will_paginate %>
