<% provide(:title, 'Edit Subject') %>
<h1>Edit Subject</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@subject) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>
      <p><%= f.label :short_description %></p>
      <p><%= f.text_field :short_description %></p>

      <%= f.label :description %>
      <p><%= f.text_area(:description, size: "50x12", max: "100x100") %></p>

      <p><%= f.label :Redacteur %>
      <%= f.select(:red, 
            options_for_select([['A', "A"], ['B', 2]])) %></p>

      <p><%= f.label :Regisseur %>
      <%= f.select(:reg, 
            options_for_select([['A', 1], ['B', 2]])) %></p>

      <p><%= f.label :Presentator %>
      <%= f.select(:host, 
            options_for_select([['A', 1], ['B', 2]])) %></p>

      <p><%= f.label :status %>
      <%= f.select(:status, 
            options_for_select([['Idee', "Idee"], ['Research', "Research"],
                                ['Productie', "Productie"],
                                ['Klaar', "Klaar"],
                                ['Afgewezen', "Afgewezen"]])) %></p>

      <%= f.submit "Update", class: "bottom" %>
    <% end %>
  </div>
</div>

<% if current_user.admin? %>
      <%= link_to "delete", @subject, method: :delete,
                            data: { confirm: "You sure?" } %>
<% end %>