<% provide(:title, 'New') %>
<h1>New Subject</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@subject) do |f| %>

      <%= f.label :name %>
      <%= f.text_field( :name, :maxlength => 50) %>
      <p><%= f.label :short_description %></p>
      <p><%= f.text_field(:short_description, :maxlength => 50) %></p>

      <%= f.label :description %>
      <p><%= f.text_area(:description, size: "50x12") %></p>
<table>
  <tr>
    <td><p><%= f.label :Redacteur %></td>
    <td><%= f.select(:red, 
            options_for_select([['A', "A"], ['B', 2]])) %></p></td>
  </tr>
  <tr>
    <td><p><%= f.label :Regisseur %></td>
    <td><%= f.select(:reg, 
            options_for_select([['A', 1], ['B', 2]])) %></p></td>
  </tr>
  <tr>
    <td><p><%= f.label :Presentator %></td>
    <td><%= f.select(:host, 
            options_for_select([['A', 1], ['B', 2]])) %></p></td>
  </tr>
  <tr>
      <td><p><%= f.label :status %></td>
      <td><%= f.select(:status, 
            options_for_select([['Idee', "Idee"], ['Research', "Research"],
                                ['Productie', "Productie"],
                                ['Klaar', "Klaar"],
                                ['Afgewezen', "Afgewezen"]])) %></p></td>
  </tr>
  <tr>
      <td><p><%= f.label "Uitzend datum" %></td>
       <td> <%= f.date_select(:air_date, :order => [:day, :month, :year],
                         :include_blank => true)%></p></td>
  </tr>                     
</table>
      <%= f.submit "Create", id: "createbutton" %>
    <% end %>
  </div>
</div>