 <header>
<ul id="drop-down-menum">	<!-- Unordered list of the drop down menu -->	
<li><%= link_to "Home",    '/' %></li>
<li><%= link_to "Subjects",    subjects_path %>
	<ul>
		<li><%= link_to "Nieuw",    new_path %></li>
	</ul> 
</li> 
<li><a>Agenda</a> <!-- Second drop down button with different supplies -->
	<ul>
		<li><%= link_to "Overzicht",    '#' %></li> 
		<li><%= link_to "Nieuw",    '#' %></li> 
		<li><%= link_to "Voltooid",    '#' %></li>	
	</ul> 
</li>
<li><%= link_to "Gebruikers",    users_path %></li>
<li><%= link_to "Notities",    '#' %></li>
<li><%= link_to current_user.name,    current_user %>
<ul>
	<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
</ul>
</li>
</ul>
</header>